In [32]:
import pandas as pd

In [41]:
ames_data = pd.read_csv("../data/ames.csv")

In [42]:
zones = ["RL", "RM", "RH"]
ames_data = ames_data[ames_data["MS Zoning"].isin(zones)]

In [43]:
ames_data["Total Bathrooms"] = ames_data["Bsmt Full Bath"] + ames_data["Bsmt Half Bath"] + ames_data["Full Bath"] + ames_data["Half Bath"]

In [44]:
ames_data = ames_data[["Lot Area", "Overall Qual", "Overall Cond", "TotRms AbvGrd", "Total Bathrooms", "Garage Area", "Bldg Type"]]
ames_data = ames_data.dropna()

In [45]:
ames_data = ames_data.astype({"Total Bathrooms":"int64"})

In [46]:
ames_data.head()

,Lot Area,Overall Qual,Overall Cond,TotRms AbvGrd,Total Bathrooms,Garage Area,Bldg Type
0,31770,6,5,7,2,528.0,1Fam
1,11622,5,6,5,1,730.0,1Fam
2,14267,6,6,6,2,312.0,1Fam
3,11160,7,5,8,4,522.0,1Fam
4,13830,5,5,6,3,482.0,1Fam