In [58]:
import numpy as np
import pandas as pd

In [59]:
ames_data = pd.read_csv("../data/ames.csv")

In [60]:
zones = ["RL", "RM", "RH"]
ames_data = ames_data[ames_data["MS Zoning"].isin(zones)]

In [61]:
ames_data["Total Bathrooms"] = ames_data["Bsmt Full Bath"] + ames_data["Bsmt Half Bath"] + ames_data["Full Bath"] + ames_data["Half Bath"]

In [62]:
ames_data = ames_data[["Lot Area", "Overall Qual", "Overall Cond", "Gr Liv Area", "TotRms AbvGrd", "Total Bathrooms", "Garage Area", "Bldg Type", "SalePrice"]]
ames_data = ames_data.dropna()
ames_data["Lot Area"] = np.log(ames_data["Lot Area"])
ames_data["Gr Liv Area"] = np.log(ames_data["Gr Liv Area"])
ames_data["SalePrice"] = np.log(ames_data["SalePrice"])

In [63]:
ames_data = ames_data.astype({"Total Bathrooms":"int64"})

In [64]:
ames_data.head()

,Lot Area,Overall Qual,Overall Cond,Gr Liv Area,TotRms AbvGrd,Total Bathrooms,Garage Area,Bldg Type,SalePrice
0,10.366278,6,5,7.412160,7,2,528.0,1Fam,12.278393
1,9.360655,5,6,6.797940,5,1,730.0,1Fam,11.561716
2,9.565704,6,6,7.192182,6,2,312.0,1Fam,12.055250
3,9.320091,7,5,7.654443,8,4,522.0,1Fam,12.404924
4,9.534595,5,5,7.395722,6,3,482.0,1Fam,12.154253